.card__delete {
    background-image: url(../../../images/trash-icon.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-size: 18px 19px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    border: 0;
}
.card__delete:hover {
    opacity: .6;
    transition: opacity .5s ease-in;
    cursor: pointer;
}