.popup__close {
    position: absolute;
    border: 0;
    right: -40px;
    top: -40px;
    background-image: url(../../../images/close_icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    width: 32px;
    height: 32px;
}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:568px) {
    .popup__close {
        right: -4px;
        top: -43px;
        background-size: 20px;
    }
}