.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    text-decoration: none;
    margin: 0 0 0 24px;
}

.header__link:hover {
    opacity: .6;
    transition: opacity .3s ease-in;
}