.header__links_mobile {
    visibility: hidden;
    opacity: 0;

}
/* 
@media screen and (max-width: 568px) {
    .header__links_mobile {
        visibility: visible;
        opacity: 1;
    }
    
} */