.cards {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    margin: 51px auto 67px auto;
    padding: 0;
    column-gap: 17px;
    row-gap: 21px;
    box-sizing: border-box;
    justify-content: center;
}

@media screen and (max-width:1100px) {
    .cards {
        margin: 0 19px 48px 19px;
    }
}
