@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/body/body.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__delete/_hide/card__delete_hide.css);
@import url(./blocks/card/__img/card__img.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__title-group/card__title-group.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/content/content.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__container/form__container.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__comment/form__comment.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__links/header__links.css);
@import url(./blocks/header/__link/_type_user/header__link_type_user.css);
@import url(./blocks/header/__link/_type_logout/header__link_type_logout.css);
@import url(./blocks/page/page.css);
@import url(./blocks/photos/photos.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup/_view-image/popup_view-image.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__error-message/popup__error-message.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image/_fail/popup__image_fail.css);
@import url(./blocks/popup/__image/_ok/popup__image_ok.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_disabled/popup__submit_disabled.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type-confirm-form/popup__title_type_confirm-form.css);
@import url(./blocks/popup/__title/_type_large-view/popup__title_type_large-view.css);
@import url(./blocks/popup/__title/_type_tooltip/popup__title_type_tooltip.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-photo/profile__add-photo.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-profile/profile__edit-profile.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__role/profile__role.css);
@import url(./blocks/profile/__text-grid/profile__text-grid.css);
@import url(./blocks/input-error/input-error.css);
@import url(./blocks/form/__submit/_disabled/form__submit_disabled.css);
@import url(./blocks/header/__links/_desktop/header__links_desktop.css);
@import url(./blocks/header/__links/_mobile/header__links_mobile.css);