.header {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {
    .header {
        padding: 28px 0 0 27px;
        margin: 0;
    }

}