.form__input {
    border: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid rgba(204, 204, 204, 1);
    outline: 0;
    padding: 0 0 7px 0;
    margin: 20px 0 35px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}